################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bookify.Domain.UnitTests/bin/Debug/net8.0
/Bookify.Domain.UnitTests/obj
/.vs/VSWorkspaceState.json
/Bookify.Application.UnitTests/bin/Debug/net8.0
/Bookify.Application.UnitTests/obj/Debug/net8.0
/Bookify.Application.UnitTests/obj
